{% extends 'articles/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<main>
    {% for article in articles %}

    <div class="card" style="width: 18rem;display: inline">
      <div class="card-body">
        <h5 class="card-title" onclick="location.href='/{{article.id}}';">{{article.article_name}}</h5>
        <p class="card-text">{{article.article_author}}</p>
        <select style="margin-bottom: 2%" name="exports_{{article.id}}" id="export">
          <option value="">Экспорт</option>
          <option value="json">JSON</option>
            <option value="yaml">YAML</option>
            <option value="xml">XML</option>
            <option value="rdf">RDF</option>

        </select>
        <a href="#" class="btn btn-primary" onclick="exportArticle({{article.id}}, {{ forloop.counter }})">Открыть</a>
        <select style="margin-bottom: 2%" name="normalise_{{article.id}}" id="normalise">
            <option value="">Нормализация</option>
            <option value="dublincore">Dublin Core</option>
            <option value="jats/1.0">JATS1.0</option>
            <option value="jats/1.1">JATS1.1</option>
            <option value="jats/1.2">JATS1.2</option>
            <option value="jats/1.3">JATS1.3</option>
            <option value="eudml">EuDML</option>
        </select>
        <a href="#" class="btn btn-primary" onclick="normaliseArticle({{article.id}}, {{ forloop.counter }})">Открыть</a>
      </div>
    </div>
    <hr/>
    {% endfor %}
</main>
{% endblock %}

